MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_DATABASE=EnglishLearningDb
MYSQL_USER=eapp
MYSQL_PASSWORD=CHANGE_ME_DATABASE_PASSWORD

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD